!!!
%html
  %head
    %title FinTech PMS
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
  %body
    - if flash[:notice]
      %p.notice= flash[:notice]

    = yield
